<apex:page standardController="Transaction__c" extensions="PointsContractFunctionTransferController" >
<style>
    .pageDescription, .pageType, .content, .ptBody {
        background-color: white !important;
    }

</style>
    <apex:form id="frm">
        <apex:pageBlock title="{! pageTitle }" >
            <apex:pageBlockSection title="Contract" columns="2" >
                <apex:outputField value="{! originalContract.Membership_Number__r.Developer__c}" />
                    <apex:pageblocksectionitem />
                <apex:outputField value="{! originalContract.Membership_Number__c}" label="Membership" />
                    <apex:pageblocksectionitem />
                <apex:outputField value="{! newTrans.ContractId__c }" label="Contract" />
                    <apex:pageblocksectionitem />
                <apex:outputField value="{! originalContract.First_Current_Owner__c }" />
                    <apex:pageblocksectionitem />
            </apex:pageBlockSection>

            <apex:pageBlockSection title="Transaction Detail" columns="2">
                <apex:inputField value="{! newTrans.Closing_Date__c }" required="true"  />
                    <apex:pageblocksectionitem />
                <apex:inputField value="{! newTrans.Comments__c}" style="width:400px" />
                    <apex:pageblocksectionitem />
                
                    <apex:pageblocksectionitem rendered="{! isTransfer }">
                        <apex:outputLabel value="Existing Membership Number" for="idMembershipNumber"/>
                        <apex:actionRegion >
                            <apex:inputText value="{! membershipNumber }" id="idMembershipNumber" required="false" >
                                <apex:actionSupport event="onchange" action="{! hideRelatedContractsSectionOnChange }" rerender="relatedContractPanel" />
                            </apex:inputText>
                        </apex:actionRegion>
                    </apex:pageblocksectionitem>
                    <apex:pageblocksectionitem />
                    <apex:pageblocksectionitem rendered="{! isTransfer }">
                        <apex:outputLabel value="New Contract Number" for="idContractNumber"/>
                        <apex:actionRegion >
                            <apex:inputText value="{! contractNumber }" id="idContractNumber" required="false">
                                <apex:actionSupport event="onchange" action="{! hideRelatedContractsSectionOnChange }" rerender="relatedContractPanel" />
                            </apex:inputText>
                        </apex:actionRegion>                
                    </apex:pageblocksectionitem>
                    <apex:pageblocksectionitem />
            </apex:pageBlockSection>

            <apex:pageBlockSection title="Remove Owners" columns="1" id="oldOwnerList" rendered="{! isAddRemove }">
                <apex:variable value="{! 0 }" var="ownerIndex" />
                <apex:pageBlockTable title="Owners" var="owner" value="{! oldOwnerList }" id="olist">
                    <apex:column headerValue="Remove">
                        <apex:inputCheckbox value="{! owner.selected }"/>
                    </apex:column> 
                    <!--<apex:column headerValue="Salutation" ><apex:outputField value="{! owner.owner.Salutation__c }" /></apex:column> -->
                    <apex:column headerValue="First Name" ><apex:outputField value="{! owner.owner.First_Name__c }" /></apex:column> 
                    <!--<apex:column headerValue="Middle Name" ><apex:outputField value="{! owner.owner.Middle_Name__c }" /></apex:column> -->
                    <apex:column headerValue="Last Name" ><apex:outputField value="{! owner.owner.Last_Name__c }" /></apex:column> 
                    <!--<apex:column headerValue="Suffix" ><apex:outputField value="{! owner.owner.Suffix__c }" /></apex:column> -->
                    <apex:column headerValue="Trust" ><apex:outputField value="{! owner.owner.Trust__c }" /></apex:column> 
                    <apex:column headerValue="Street" ><apex:outputField value="{! owner.owner.Street__c }" /></apex:column> 
                    <apex:column headerValue="City" ><apex:outputField value="{! owner.owner.City__c }" /></apex:column> 
                    <apex:column headerValue="State" ><apex:outputField value="{! owner.owner.State__c }" /></apex:column> 
                    <apex:column headerValue="Postal Code" ><apex:outputField value="{! owner.owner.Postal_Code__c }" /></apex:column> 
                    <!--<apex:column headerValue="Country" ><apex:outputField value="{! owner.owner.Country__c }" /></apex:column> 
                    <apex:column headerValue="Phone" ><apex:outputField value="{! owner.owner.Phone__c }" /></apex:column> 
                    <apex:column headerValue="Email" ><apex:outputField value="{! owner.owner.Email__c }" /></apex:column> 
                    -->
                </apex:pageBlockTable>
            </apex:pageBlockSection>

            <apex:pageBlockSection title="{! IF( isChange, 'Owners', 'New Owners') }" columns="1" id="newOwnerList" >
                <apex:variable value="{! 0 }" var="ownerIndex" />
                <apex:pageBlockTable title="Owners" var="owner" value="{! newOwnerList }" id="olist">
                    <apex:column headerValue="Action">
                        <apex:variable value="{! ownerIndex + 1 }" var="ownerIndex" />
                        <apex:actionregion >
                        <apex:commandLink action="{! editOwnerRowAction }" value="Edit" id="editOwnerRowLink" immediate="true" rerender="ownerPopup" >
                            <apex:param name="row" value="{! ownerIndex }" assignTo="{! ownerRowNumber }"/>
                        </apex:commandLink>
                        </apex:actionregion>
                        &nbsp;&nbsp;
                        <apex:actionregion >
                        <apex:commandLink action="{! deleteOwnerRowAction }" value="Del" id="deleteOwnerRowLink" immediate="true" html-formnovalidate="true" reRender="newOwnerList" rendered="{! !isChange }" >
                            <apex:param name="row" value="{! ownerIndex }" assignTo="{! ownerRowNumber }"/>
                        </apex:commandLink>
                        </apex:actionregion>
                    </apex:column> 
                    <!--<apex:column headerValue="Salutation" ><apex:outputField value="{! owner.Salutation__c }" /></apex:column> -->
                    <apex:column headerValue="First Name" ><apex:outputField value="{! owner.First_Name__c }" /></apex:column> 
                    <!--<apex:column headerValue="Middle Name" ><apex:outputField value="{! owner.Middle_Name__c }" /></apex:column> -->
                    <apex:column headerValue="Last Name" ><apex:outputField value="{! owner.Last_Name__c }" /></apex:column> 
                    <!--<apex:column headerValue="Suffix" ><apex:outputField value="{! owner.Suffix__c }" /></apex:column> -->
                    <apex:column headerValue="Trust" ><apex:outputField value="{! owner.Trust__c }" /></apex:column> 
                    <apex:column headerValue="Street" ><apex:outputField value="{! owner.Street__c }" /></apex:column> 
                    <apex:column headerValue="City" ><apex:outputField value="{! owner.City__c }" /></apex:column> 
                    <apex:column headerValue="State" ><apex:outputField value="{! owner.State__c }" /></apex:column> 
                    <apex:column headerValue="Postal Code" ><apex:outputField value="{! owner.Postal_Code__c }" /></apex:column> 
                    <!--<apex:column headerValue="Country" ><apex:outputField value="{! owner.Country__c }" /></apex:column> 
                    <apex:column headerValue="Phone" ><apex:outputField value="{! owner.Phone__c }" /></apex:column> 
                    <apex:column headerValue="Email" ><apex:outputField value="{! owner.Email__c }" /></apex:column> 
                    -->
                </apex:pageBlockTable>
                <apex:pageblocksectionitem >
                    <apex:actionregion >
                    <apex:commandButton action="{! addOwnerRowAction }" value="Add Owner" reRender="ownerPopup" immediate="true" rendered="{! !isChange }" />
                    </apex:actionregion>
                </apex:pageblocksectionitem>
            </apex:pageBlockSection>
            
            <apex:outputPanel id="relatedContractPanel">
            <apex:pageBlockSection title="Also Apply Changes To:" columns="1" id="relatedContracts" rendered="{! displayRelatedContracts }">
                <apex:outputpanel id="relatedContractsPanel">
                <apex:variable value="{! 0 }" var="contractIndex" />
                    <apex:pageBlockTable title="Contracts" var="contract" value="{! relatedContractList }" id="clist">
                        <apex:column headerValue="Select">
                            <apex:inputCheckbox value="{! contract.selected }"/>
                        </apex:column> 
                        <apex:column headerValue="Contract Name" ><apex:outputField value="{! contract.contract.Name }" /></apex:column> 
                        <apex:column headerValue="First Current Owner Name" ><apex:outputField value="{! contract.contract.First_Current_Owner__r.Name }" /></apex:column> 
                        <apex:column headerValue="Active" ><apex:inputCheckbox disabled="true" value="{! contract.contract.Active__c }" /></apex:column> 
                    </apex:pageBlockTable>
                </apex:outputpanel>
            </apex:pageBlockSection>
            </apex:outputPanel>

            <apex:outputPanel id="relatedOwnerPanel">
            <apex:pageBlockSection title="Also Apply Changes To:" columns="1" id="relatedOwners" rendered="{! displayRelatedOwners }">
                <apex:outputpanel id="relatedOwnerPanel">
                <apex:variable value="{! 0 }" var="ownerIndex" />
                    <apex:pageBlockTable title="Owners" var="owner" value="{! relatedOwnerList }" id="olist">
                        <apex:column headerValue="Select">
                            <apex:inputCheckbox value="{! owner.selected }"/>
                        </apex:column> 
                        <apex:column headerValue="Contract Name" ><apex:outputText value="{! owner.contractName }" /></apex:column> 
                         <apex:column headerValue="First Name" ><apex:outputField value="{! owner.owner.First_Name__c }" /></apex:column> 
                        <apex:column headerValue="Last Name" ><apex:outputField value="{! owner.owner.Last_Name__c }" /></apex:column> 
                        <apex:column headerValue="Trust" ><apex:outputField value="{! owner.owner.Trust__c }" /></apex:column> 
                        <apex:column headerValue="Street" ><apex:outputField value="{! owner.owner.Street__c }" /></apex:column> 
                        <apex:column headerValue="City" ><apex:outputField value="{! owner.owner.City__c }" /></apex:column> 
                        <apex:column headerValue="State" ><apex:outputField value="{! owner.owner.State__c }" /></apex:column> 
                        <apex:column headerValue="Postal Code" ><apex:outputField value="{! owner.owner.Postal_Code__c }" /></apex:column> 
                    </apex:pageBlockTable>
                </apex:outputpanel>
            </apex:pageBlockSection>
            </apex:outputPanel>

                <apex:pageBlockSection id="ownerPopup">
                <apex:outputpanel id="newOwnerPanel" rendered="{! ShowOwnerPopup }"  style="background-color:black; background-color: rgba(0,0,0,0.5); position: fixed; width: 100%;  height: 1000%; top: 0px; left: 0; z-index: 10;">
                    <div style="background-color: white;
                                background-color: rgba(255,255,255,1);
                                border-width: 2px;
                                border-style: solid;
                                z-index: 11;
                                left: 300px;
                                padding:5px;
                                position: fixed;
                                width: 500px;
                                top:10%;
                                overflow: auto;">
                        <script type="text/javascript">
                            function noenter(ev) {
                                    if (window.event && window.event.keyCode == 13 || ev.which == 13) {
                                        formSubmit();
                                        return false;
                                    } else {
                                        return true;
                                    }
                                }
                                //function setFocusOnLoad() {} //Uncomment if your vf page is setting focus to a control you dont want
                        </script>
                        <apex:sectionheader title="Please fill out the information below." subtitle="{! 'Owner Details'}" />
                        <apex:actionregion >
                        <apex:pageblock onkeydown="return noenter(event);">
                            <apex:actionfunction name="formSubmit" status="actionLoading" action="{!saveNewOwnerPageAction}" rerender="frm, newOwnerList, ownerPopup" />
                            <!--<apex:actionfunction name="formCancel" status="actionLoading" action="{!HideNewOwnerPage}" rerender="frm" />-->
                            <apex:pagemessages ></apex:pagemessages>
                            
                            <apex:pageblockbuttons >
                                <apex:commandbutton action="{!saveNewOwnerPageAction}" value="Save" status="actionLoading" rerender="newOwnerList, ownerPopup, relatedOwnerPanel, formButtons" style="margin-left:5px;margin-right:5px; width:140px" />
                                <apex:commandbutton action="{!hideNewOwnerPageAction}" value="Cancel" rerender="ownerPopup" style="margin-left:5px;margin-right:5px; width:140px" immediate="true" html-formnovalidate="true"  />
                            </apex:pageblockbuttons>
                            
                            <div style="text-align: left">

                                <!-- No matching records are selected -->
                                <apex:pageblocksection columns="1" title="Owner Details" collapsible="false" id="NewOwnerInformation" >
                                    <apex:pageblocksectionitem >
                                        <apex:outputlabel value=" {!$objecttype.Owner__c.fields.Salutation__c.label}" for="ownerSalutation"></apex:outputlabel>
                                        <apex:outputpanel >
                                            <div class="reqDiv"></div>
                                            <apex:inputfield id="ownerSalutation" value="{! editOwner.Salutation__c}" required="false" html-placeholder="First Name"></apex:inputfield>
                                        </apex:outputpanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem >
                                        <apex:outputlabel value=" {!$objecttype.Owner__c.fields.First_Name__c.label}" for="ownerFirstName"></apex:outputlabel>
                                        <apex:outputpanel >
                                            <div class="reqDiv"></div>
                                            <apex:inputfield id="ownerFirstName" value="{! editOwner.First_Name__c}" required="false" html-placeholder="First Name"></apex:inputfield>
                                        </apex:outputpanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem >
                                        <apex:outputlabel value=" {!$objecttype.Owner__c.fields.Middle_Name__c.label}" for="ownerMiddleName"></apex:outputlabel>
                                        <apex:outputpanel >
                                            <div class="reqDiv"></div>
                                            <apex:inputfield id="ownerMiddleName" value="{! editOwner.Middle_Name__c}" required="false" html-placeholder="Middle Name"></apex:inputfield>
                                        </apex:outputpanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem >
                                        <apex:outputlabel value=" {!$objecttype.Owner__c.fields.Last_Name__c.label}" for="ownerLastName"></apex:outputlabel>
                                        <apex:outputpanel >
                                            <div class="reqDiv"></div>
                                            <apex:inputfield id="ownerLastName" value="{! editOwner.Last_Name__c}" required="true" html-placeholder="Last Name"></apex:inputfield>
                                        </apex:outputpanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem >
                                        <apex:outputlabel value=" {!$objecttype.Owner__c.fields.Suffix__c.label}" for="ownerSuffix"></apex:outputlabel>
                                        <apex:outputpanel >
                                            <div class="reqDiv"></div>
                                            <apex:inputfield id="ownerSuffix" value="{! editOwner.Suffix__c}" required="false" html-placeholder="Suffix"></apex:inputfield>
                                        </apex:outputpanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem >
                                        <apex:outputlabel value=" {!$objecttype.Owner__c.fields.Trust__c.label}" for="ownerTrust"></apex:outputlabel>
                                        <apex:outputpanel >
                                            <div class="reqDiv"></div>
                                            <apex:inputfield id="ownerTrust" value="{! editOwner.Trust__c}" required="false" html-placeholder="Trust"></apex:inputfield>
                                        </apex:outputpanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem >
                                        <apex:outputlabel value=" {!$objecttype.Owner__c.fields.Street__c.label}" for="ownerStreet"></apex:outputlabel>
                                        <apex:outputpanel >
                                            <div class="reqDiv"></div>
                                            <apex:inputfield id="ownerStreet" value="{! editOwner.Street__c}" required="false" html-placeholder="Street"></apex:inputfield>
                                        </apex:outputpanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem >
                                        <apex:outputlabel value=" {!$objecttype.Owner__c.fields.City__c.label}" for="ownerCity"></apex:outputlabel>
                                        <apex:outputpanel >
                                            <div class="reqDiv"></div>
                                            <apex:inputfield id="ownerCity" value="{! editOwner.City__c}" required="false" html-placeholder="City"></apex:inputfield>
                                        </apex:outputpanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem >
                                        <apex:outputlabel value=" {!$objecttype.Owner__c.fields.State__c.label}" for="ownerState"></apex:outputlabel>
                                        <apex:outputpanel >
                                            <div class="reqDiv"></div>
                                            <apex:inputfield id="ownerState" value="{! editOwner.State__c}" required="false" html-placeholder="State"></apex:inputfield>
                                        </apex:outputpanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem >
                                        <apex:outputlabel value=" {!$objecttype.Owner__c.fields.Postal_Code__c.label}" for="ownerZip"></apex:outputlabel>
                                        <apex:outputpanel >
                                            <div class="reqDiv"></div>
                                            <apex:inputfield id="ownerZip" value="{! editOwner.Postal_Code__c}" required="false" html-placeholder="Zip"></apex:inputfield>
                                        </apex:outputpanel>
                                    </apex:pageblocksectionitem>
                                    <apex:pageblocksectionitem >
                                        <apex:outputlabel value=" {!$objecttype.Owner__c.fields.Country__c.label}" for="ownerCountry"></apex:outputlabel>
                                        <apex:outputpanel >
                                            <div class="reqDiv"></div>
                                            <apex:inputfield id="ownerCountry" value="{! editOwner.Country__c}" required="false" html-placeholder="Country"></apex:inputfield>
                                        </apex:outputpanel>
                                    </apex:pageblocksectionitem>

                                    <apex:pageblocksectionitem >
                                        <apex:outputlabel value=" {!$objecttype.Owner__c.fields.Phone__c.label}" for="ownerPhone"></apex:outputlabel>
                                        <apex:outputpanel >
                                            <div class="reqDiv"></div>
                                            <apex:inputfield id="ownerPhone" value="{! editOwner.Phone__c}" required="false" html-placeholder="Phone"></apex:inputfield>
                                        </apex:outputpanel>
                                    </apex:pageblocksectionitem>

                                    <apex:pageblocksectionitem >
                                        <apex:outputlabel value=" {!$objecttype.Owner__c.fields.Email__c.label}" for="ownerEmail"></apex:outputlabel>
                                        <apex:outputpanel >
                                            <div class="reqDiv"></div>
                                            <apex:inputfield id="ownerEmail" value="{! editOwner.Email__c}" required="false" html-placeholder="Phone"></apex:inputfield>
                                        </apex:outputpanel>
                                    </apex:pageblocksectionitem>

                                </apex:pageblocksection>
                            </div>
                        </apex:pageblock>
                        </apex:actionregion>
                    </div>
                </apex:outputpanel>
                </apex:pageBlockSection>

            
            <apex:pageBlockButtons >
                <apex:outputPanel id="formButtons">
                    <apex:commandButton action="{! saveAndReturn }" value="Save" rendered="{! allowSave }" />
                    <apex:commandButton action="{! cancel }" value="Cancel" />
                </apex:outputpanel>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>